BOT_TOKEN=your_telegram_bot_token_here
BOT_USERNAME=your_bot_username
ADMIN_IDS=1667587449

GATEWAY_PROFILE_ID=OZqxhAZPSCRXBipqVZD3YVZHGURqUd9V
GATEWAY_SECRET_KEY=zXRidJXLRyQ09PWBUHR6OHsWgTeEvn1u
SUCCESS_CALLBACK_URL=https://anajakpay.com/dashboard

STORE_CONTACT_USERNAME=thymuoyhak
SUPPORT_PHONE=+855 12 345 678
KHR_EXCHANGE_RATE=4100
DB_PATH=food_kh.db
